<div class="container">
		<div class="error_messages">
			<% if @book.errors.any? %>
				<div class="error_explanation">
				      <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
				      <ul>
				<% @book.errors.full_messages.each do |message| %>
				          <li><%= message %></li>
				<% end %>
				      </ul>
				    </div>
			<% end %>
		</div> 
	<div class="row">

		<div class="col-xs-3">
			User info
		    <h2>User info</h2>
		    <%= attachment_image_tag current_user , :profile_image , fallback: "no_image.jpg" %>
	    	<table class="table">
      			<tbody>
                    <tr>
                        <th>name</th>
                        <th><%= @user.name %><th>
                    </tr>
                    <tr>
                        <th>introduction</th>
                        <th><%= @user.introduction %></th>
                    </tr>
              	</tbody>
	        </table>
            <p>
                <td><%= link_to "edit", edit_user_path(@user),class:'col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_19746' %></td>
            </p>
			<h2>New book</h2>
			<!-- form_for部分 -->
			<%= form_for(@new_book) do |f| %>
				 <h4>Title</h4>
				 <%= f.text_field :title %>
				 <h4>opinion</h4>
				 <%= f.text_area :body %>
				 <p>
				 	<%= f.submit 'Create Book',class:'btn btn-primary' %>
				 </p>
			<% end %>
		</div>
		<div class="col-xs-9">
			<h2>Book detail</h2>
				<table class="table">
					<tbody>
						<tr>
							<td>
									<%= attachment_image_tag @book.user , :profile_image , fallback: "no_image.jpg" %>
								<br>
								<%= link_to user_path(@user) do %><%= @user.name %>
								<% end %>
							</td>
								<td><%= @book.title %></td>
								<td><%= @book.body %></td>
								<% if @book.user.id == current_user.id %>
								<td><%= link_to "Edit", edit_book_path(@book),class:'btn-sm btn-success edit_book_31537' %></td>
						        <td><%= link_to "Destroy", book_path(@book),class:'btn-sm btn-danger destroy_book_31537 ',method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
						  		<% end %>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</div>